.circle-button {
    background-color: #111;
    border: 5px;
    border-radius: 50%;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.circle-button:active {
    transform: scale(0.9);
    background-color: #080808
}