.add-bg {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #00000088;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    position: fixed;
}

.add-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1%;
    border-radius: 10px;
    position: fixed;
    background-color: #222;
    top: 5vmin;
}

.add-button {
    position: fixed;
    right: 2vmin;
    bottom: 2vmin;
    box-shadow: -2px 2px 5px 2px #0008;
}

.close-button {
    flex: none;
    position: absolute;
    left: 1px;
    top: 1px;
    text-align: left;
}

input {
    height: 30px;
}

textarea {
    font-family: inherit;
    font-size: inherit;
    resize: none;
}

input, textarea {
    align-self: center;
    font-size: 100%;
    width: 100%;
    background-color: #181818;
    color: #aaa;
    border-radius: 10px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #111;
    box-shadow: inset 0 2px 4px rgba(0,0,0,.39), 0 -2px 2px #222, 0 2px 0 #222;
    margin: 1%;
    margin-bottom: 5%;
}

h1{
    margin: 1%;
    margin-bottom: 10%;
}

input[type=submit], input[type=button] {
    cursor: pointer;
    box-shadow: none;
    border: 2px solid #111;
    background-color: #222;
}

input[type=color] {
    cursor: pointer;
    background-color: transparent;
    border: none;
    box-shadow: none;
}