#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, p, pre, code, label {
  color: #aaa;
}

a {
  color: #eee;
  font-weight: bold;
  text-decoration: none;
}

a:hover{
  color: #ccc;
}

a:visited{
  color: #ddd;
}

a:visited:hover{
  color: #ccc;
}

main {
  display: flex;
  padding: 1%;
}

@media (max-width: 600px) {
  section {
    flex-direction: column;
    flex-direction: column;
  }
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 20px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #555 transparent;
}