.list {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 200px;
    height: 400px;
    border-radius: 10px;
    background-color: #111;
    border: 0px;
    border-top: 10px;
    border-style: solid;
    margin: 1%;
    overflow: hidden;
}

.list-tasks{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.list-title, .list-description {
    width: 90%;
    text-align: left;
    margin: 1%;    
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}