.list {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 200px;
    height: 400px;
    border-radius: 10px;
    background-color: #111;
    border: 0px;
    border-top: 10px;
    border-style: solid;
}

.list-tasks{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.list-title, .list-description {
    width: 100%;
    margin: 5px;
}