.task {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 90%;
    border-radius: 5px;
    background-color: #333;
    border: 0px;
    border-style: solid;
    margin-top: 3%;
    padding-left: 5%;
    position: relative;
}

.task-title, .task-description {
    width: 100%;
    margin: 5px;
    text-align: left;
    width: 100%;
}

input.task-title, input.task-description {
    background-color: transparent;
    border: 2px dotted #555;
    box-shadow: none;
    width: 90%;
}